//COLORS👇🏻
$black-1: #17171d;
$black-2: #282829;
$white-1: #efefef;
$grey-light-1: #e2e2e2;
$grey-light-2: #efefef;
$grey-medium-1: #5f5f5f;
$pink-1: #ffc9c9;
$purple-1: #a5a4d4;
$green-1: #c1e0b9;
$danger: #da0c0ced;

//SPACES
$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 4.5em;

$margin-xxs: 0.2rem;
$margin-xs: 0.5rem;
$margin-sm: 1rem;
$margin-md: 2rem;
$margin-lg: 3rem;
$margin-xl: 5.5rem;
$margin-xxl: 7rem;

//BORDER
$thin-light-1: 1px solid #d2d2d2;
$thin-dark-1: 1px solid $black-1;
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-sm: 15px;
$radius-lg: 20px;

//FONT-SIZE
$typography-1: 14px;
$typography-2: 12px;
$typography-3: 24px;
$typography-4: 36px;
$typography-5: 45px;

//BRAKEPOINTS
$mobile: 400px;
$tablet-sm: 650px;
$tablet-md: 712px;
$desktop: 1100px;
$desktop-md: 1600px;

//ELEMENTS
$main-menu-width-closed: 56px;
$top-nav-height: 64px;
