$padding-sm: 1rem;
$radius-sm: 5px;
$margin-sm: 1rem;
$margin-xs: 0.5rem;

//COLORS👇🏻
$white-1: #efefef;
$pink-1: #ffc9c9;
$purple-1: #a5a4d4;
$green-1: #c1e0b9;

//BRAKEPOINTS
$mobile: 390px;
$tablet: 600px;
$desktop: 1100px;
